*.jar
/asm/
/.mixin.out/
/astralsorcery/
/libraries/
/logs/
/mods/
/overworld/
/ops.json
/OpenComputersMod-1.7.5.192-lua52-native.64.dll
/OpenComputersMod-1.7.5.192-lua53-native.64.dll
/crafttweaker.log
/banned-players.json
/banned-ips.json
/eula.txt
/plugins/Essentials/userdata/
/plugins/Essentials/warps/
/plugins/ChatEx/logs/
/plugins/iConomy/accounts.mini
/plugins/LuckPerms/translations/
/plugins/WorldGuard/cache/
/plugins/WorldGuard/worlds/
